@import '/src/styles/adaptive';
@import '/src/styles/colors';

.index {
    background: $white;
    border-radius: 20px;
    padding: 20px;
    position: relative;
    width: 800px;
    
    @media #{$tablet_max} {
        padding: 30px 20px;
        width: 100%;
    }
}

.closeButton {
    cursor: pointer;
    height: 18px;
    position: absolute;
    right: 20px;
    top: 20px;
    width: 18px;
    
    @media #{$tablet_max} {
        right: 16px;
        top: 16px;
    }
}

.closeIcon {
    color: $gray;
    height: 100%;
    width: 100%;
}
