@import "@/styles/layout";
@import "@/styles/line-clamp";

.index {
    border-radius: 20px;
}

.content {
    padding: 15px 10px 20px;
}

.description {
    @include line-clamp;
}

.image {
    aspect-ratio: 1 / 1;
    border-radius: 20px 20px 0 0;
    display: block;
    object-fit: cover;
    width: 100%;
}

.title {
    @include line-clamp;
    
    font-weight: 700;
}
