@import "/src/styles/colors";
@import "/src/styles/shadow";
@import "/src/styles/transition";

@mixin button {
    border-radius: 8px;
    box-shadow: $shadow-1;
    cursor: pointer;
    padding: 20px 40px;
    text-transform: uppercase;
    transition: $transitionDefault;

    &:hover {
        background: $green;
    }
}
