@import "@/styles/adaptive";

.index {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: fit-content;
}

.image {
    display: block;
    border-radius: 50%;
    height: 60px;
    object-fit: contain;
    width: 60px;
    
    @media #{$tablet_max} {
        height: 30px;
        width: 30px;
    }
}

.title {
    @media #{$tablet_max} {
        display: none;
    }
}
