@import "@/styles/layout";
@import "@/styles/page";

.index {
    @include layout-container;
    @include page;
}

.content {
    display: grid;
    gap: 40px;
    grid-template-columns: 8fr 4fr;
    margin-top: 40px;
}
