@import "@/styles/layout";
@import "@/styles/page";

.index {
    @include layout-container;
    @include page;
}

.content {
    display: flex;
    gap: 40px;
    margin-top: 40px;
}

.products {
    flex: 0 1 60%;
}
