@import "@/styles/adaptive";
@import "@/styles/layout";
@import "@/styles/page";

.index {
    @include layout-container;
    @include page;
}

.content {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 3fr;
    margin-top: 48px;
    
    @media #{$tablet_max} {
        grid-template-columns: 1fr;
        margin-top: 12px;
    }
}

.filters {
    padding-right: 40px;
    
    @media #{$tablet_max} {
        display: none;
    }
}

.productsContainer {
    margin-top: 4px;
    
    @media #{$tablet_max} {
        margin-top: 12px;
    }
}

.showMoreButton {
    margin-top: 20px;
}

.sortContainer {
    display: flex;
    justify-content: flex-end;
}
