.inputs {
    align-items: center;
    display: flex;
    gap: 10px;
    margin-top: 15px;
}

.option {
    margin-top: 10px;
    
    &:first-child {
        margin-top: 0;
    }
}

.options {
    margin-top: 15px;
}

