@import "@/styles/adaptive";
@import "@/styles/shadow";

.index {
    box-shadow: $shadow
}

.desktop {
    @media #{$tablet_max} {
        display: none;
    }
}

.mobile {
    @media #{$laptop_min} {
        display: none;
    }
}
