@import "@/styles/layout";
@import "@/styles/shadow";

.index {
    box-shadow: $shadow
}

.container {
    @include layout-container;

    align-items: center;
    display: flex;
    padding-bottom: 20px;
    padding-top: 20px;
}
