@import "@/styles/colors";

.index {
    align-items: center;
    cursor: pointer;
    display: flex;
    gap: 8px;
    position: relative;
    width: fit-content;
}

.checkmarkContainer {
    align-items: center;
    border: 1px solid $gray;
    border-radius: 8px;
    display: flex;
    height: 24px;
    justify-content: center;
    width: 24px;
}

.checkmarkIcon {
    display: none;
    width: 16px;
    height: 16px;
    
    .checked & {
        display: block;
    }
}

.input {
    height: 0;
    opacity: 0;
    outline: none;
    position: absolute;
    width: 0;
}
