@import "@/styles/colors";

.index {
    align-items: center;
    border: 1px solid $gray;
    border-radius: 20px;
    display: flex;
    max-width: 100px;
}

.button {
    align-items: center;
    cursor: pointer;
    display: flex;
    flex: 0 0 auto;
    justify-content: center;
    width: 40px;
}

.buttonLeft {
    padding: 10px 0 10px 10px;
}

.buttonRight {
    padding: 10px 10px 10px 0
}

.input {
    cursor: pointer;
    min-width: 0;
    text-align: center;
    width: 20px;
}
