.index {
    align-items: center;
    display: flex;
    flex: 0 0 200px;
    gap: 40px;
    justify-content: flex-end;
}

.cartIcon {
    height: 24px;
    width: 24px;
}

.profileIcon {
    height: 24px;
    width: 24px;
}
